<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/code.css" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
</head>
<body class="body1">
{% block body %}
    <div class="navbar navbar-color navbar-fixed-top" style="height: 30px;opacity: 0.9;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/blog/bloglist" style="font-size: 18px;"><img
                        src="/static/img/name.png"
                        style="height: 20px;">博客</a>
            </div>
            <div class="navbar-collapse collapse">
                <p class="navbar-text navbar-right" style="font-weight: bold; color: #c8c8c8; font-size: 13px">Designed
                    by Rainnus</p>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <!--<div class="thumbnail" style="background-color: #ffffff">-->
            <div style="background-color: #ffffff; height: 180px; margin-bottom: 20px; border-radius: 15px;opacity: 0.8;">
                <canvas id="myCanvas"></canvas>
                <script type="text/javascript" src="/static/js/bubbles.js"></script>
                <script type="text/javascript" src="/static/js/main.js"></script>
                <!-- <img src="/static/img/title.png"  style="height: 100px;" class="img-rounded center">-->
            </div>
        </div>
    </div>
    {% block content %}
        <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% block article %}
                    {% block article_title %}
                    {% endblock %}
                    {% block article_content %}{% endblock %}
                {% endblock %}

                {% block article_menu %} {% endblock %}
                {% block comments %} {% endblock %}
            </div>
            <div class="col-md-3">

                <div class="panel panel-default">

                    <div class="panel-body">
                        <h5 style="font-weight: bold;">标签</h5>
                        {% for tag in tags %}
                            <span class="lable label-info" style="margin: 4px; padding: 4px; border-radius: 15px;">
                            <a class="ablack" href="#">{{ tag }}</a>
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="list-group">
                        <a class="ablack" style="margin-left: 15px; margin-bottom: 5px;">博客列表</a>
                        {% for Blog in Blogs %}
                            {% load comments %}
                            {% get_comment_count for Blog as comment_count %}
                            <a href="{% url "detailblog" Blog.id %}"
                               class="list-group-item ablack">{{ Blog.caption }}<span
                                    class="badge">{{ comment_count }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

<div class="row">
    <div class="col-md-9">
        <div class="thumbnail" style="height: 35px;">
            {% block footer %}
                <p style="text-align: center;margin-top: 3px;">Powered and designed by rainnus.</p>
            {% endblock %}
        </div>
    </div>
</div>
</div>
{% endblock %}

<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>